#Don't be an idiot. Remember to do "git rm -r --cached ." to make
#the gitignore file take action

#Ignore the following folders:
Library/
!Library/metadata/
Temp/

#Ignore files ending with:
*.sln
*.csproj
*.unityproj
*.pidb
*.userprefs
